services:
  app:
    build: .
    container_name: gobank-app
    depends_on:
      - db
    ports:
      - "8080:8080"
    restart: unless-stopped
    env_file:
      - .env
  db:
    image: postgres:15
    ports:
      - "5432:5432"
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - gobank-data:/var/lib/postgresql/data
volumes:
  gobank-data:

